@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-wrap: wrap;
}

.bookTextColor {
    color: #F8E59A;
}
.libTextColor {
    color: #CCAED0;
}

.bookForm {
    background: #C59014;
}

.libForm {
    background: #5C4580;
}

.bookForm, .libForm {
    width: 50%;
    height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bookForm>form, .libForm>form {
    width: 100%;
    height: 75%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bookForm>h1, .libForm>h1 {
    font-size: 10vw;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    height: 25%;
}

.bookForm>form>label, .libForm>form>label {
    font-size: 5vh;
    font-family: 'Quicksand', sans-serif;
}

.breath {
    margin-bottom: 2vh;
}

.actions {
    width: 100%;
    height: 10vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #002A3A;
}

#bookSend {
    background: #EFC06E;
    border-radius: 5vh;
}

#libSend {
    background: #CCAED0;
    border-radius: 5vh;
}

.actions>a {
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 5vh;

    color: #ABCAE9;
    background: rgba(0,0,0,0.3);

    border-radius: 5vh;
    padding: 0.5vh 2vh;

    transition: 0.1s;
}

.actions>a:hover {
    transition: 0.1s;
    transform: scale(1.1);
    border: dotted 1px;
}
