html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
}

.bookForm, libForm {
    width: 50%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.actions {
    width: 100%;
    height: 10vh;

    display: flex;
    justify-content: center;
    align-items: center;
}
